PORT=3000
MONGO_URI=mongodb://localhost:27017/moviesdb
REDIS_URL=redis://localhost:6379
ADMIN_PASS=your_admin_password_here
ACCESS_TOKEN=ur_access
OMDB_KEY=ur_omdb_key
EMAIL_APP_PASSWORD=ur_email_app_pass
EMAIL_ADDRESS=ur_email